
.card {
    border-radius: 10px;
    box-shadow: 5px 10px 20px #ccc;
    background:#fff;
}

.round-tag {
    border-radius: 10px;
    border:1px solid #111112;
}

.hacking .round-tag.colored {
    border-color: #d36b26;
}

.sw .round-tag.colored {
    border-color: #ebb124;
}

.techno .round-tag.colored {
    border-color: #44ab71;
}

.multi .round-tag.colored {
    border-color: #3a68a8;
}

.tags > .round-tag {
    border-color: #d36b26;
    color:#d36b26;
    width:95px;
    display:inline-block;
    text-align: center;
    padding:4px 0;
    border-radius: 15px;
}

.tags > .round-tag:before {
    content:'#';
}