main {
    flex: 1;
    padding:28px;
    
    overflow:scroll;
}

main > #card-search {
    display:flex;
    flex-flow: column;
    overflow-y:hidden;
}

main > #card-search > #search-box-wrap {
/*    overflow:scroll;*/
    padding-bottom:60px;
        overflow-y:scroll;

}

main > #card-search > #search-box-wrap > .search-box {
    display:flex;
    flex-flow:column;
    align-items: center;
    margin-top:40px;
}

main > #card-search > #search-box-wrap > .search-box > .title-line {
    height:6px;
    background-color: #000;
    width:68px;
}
main > #card-search > #search-box-wrap > .search-box > .title {
    margin-top:9px;
    font-size: 35px;
}

main > #card-search > #search-box-wrap > .search-box > .tags-box {
    display:flex;
    flex-flow: column;
}

main > #card-search > #search-box-wrap > .search-box > .tags-box > .tags {
    margin-top:14px;
    display:flex;
}

main > #card-search > #search-box-wrap > .search-box > .tags-box > .tags > span {
    width:155px;
    height:48px;
    line-height: 48px;
    font-size:22px;
    font-weight: 300;
    text-align: center;
    margin:0 7px;
}


main > #card-search > #search-btn {
    padding:20px;
    text-align: center;
    font-size:35px;
    color:white;
    cursor:pointer;
    background-color: rgb(85, 85, 85);
    flex-shrink: 0;
}




main > #result-container {
    display:flex;
    flex-flow: column;
}

main > #result-container > span {
    height:200px;
}