
nav {
    width:343px;
    background:#fff;
    border-right:1px solid #e6e6e6;
    
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
    
    color:#505050;

}

nav > #nav-header {
    display:flex;
    justify-content: center;
    flex-shrink: 0;
}

nav > #nav-header > img {
    margin:30px 0;
}
nav > .nav-item:before {
}


nav > .nav-item {
    position:relative;
    padding:0 17px;
    display: flex;
    align-items: center;
    border-top: 2px solid #f3f3f3;
    height:87px;
}

nav > .nav-item:last-child {
    border-bottom:2px solid #bebebe;
}

nav > .nav-item.select:before {
    content:'';
    position:absolute;
    left:0;
    top:-2px;
    bottom:-2px;
    z-index: 1;
    
    width:17px;
    display:inline-block;
    background:#ea7d1e;
}

nav > .nav-item > .nav-ic-wrap {
    width:43px;
    margin:0 20px;
    display:flex;
    justify-content: center;
}

nav > .nav-item.has-color:not(.select) > .nav-ic-wrap img:nth-child(1) {
    display:none;
}

nav > .nav-item.has-color.select > .nav-ic-wrap img:nth-child(2) {
    display:none;
}

nav > .nav-item > .nav-item-name {
    font-size:19px;
    font-weight:700;
    flex:1;
}

nav > .nav-item.select > .nav-item-name {
    color:#ea7d1e;
}

nav > .nav-item > .right-angle-bracket {
    width:10px;
    height:14px;
    display:inline-block;
    background-image: url('../image/right_angle_bracket.png');
}